body{
	padding: 0;
	margin: 0;
	font-family: Arial, sans-serif;
	font-family: FreeMono, monospace;
	font-family: Courier New, monospace;
	font-size: 25px;
	font-size: 1.5vh;
	background-color: #2D2D2D;
	background-image: url(pics/wallpaper.jpg);
	background-repeat: no-repeat;
  	background-attachment: fixed;
	background-size: cover;
	color: #fff;
	text-align: center;
	height: 100%;
	overflow: hidden;
}
li{
	font-family: Arial, sans-serif;
	font-family: FreeMono, monospace;
	font-family: Courier New, monospace;
	font-weight: normal;
	font-size: 35px;
	font-size: 2.8vh;
	display: block;
	padding: 5px;
	padding: 0.3vh;
	text-align: left;
	text-shadow: 0.1vh 0.1vh 0.4vh #000;
}
/*HEADER*//*HEADER*//*HEADER*//*HEADER*//*HEADER*//*HEADER*//*HEADER*//*HEADER*/
.logocontainer{
	width: 100%;
	height: 220px;
	height: 11vh;	/* THE ACTUAL HEIGHT IS .container {margin-top: 12vh;} */
	position: fixed;
	top:0;
	display: block;
	background: inherit;
	z-index: 1;
}
.logo{
	height: 70%;
	height: 8vh;
	display: block;
	padding-top: 40px;
	padding-top: 2vh;
	margin-right: auto;
	margin-left: auto;
}
/*PAGECONTENT*//*PAGECONTENT*//*PAGECONTENT*//*PAGECONTENT*//*PAGECONTENT*/
.dropbtn{
	font-family: Arial, sans-serif;
	font-family: FreeMono, monospace;
	font-family: Courier New, monospace;
	font-size: 50px;
	font-size: 2.5vh;
	font-weight: lighter;
	text-align: center;
	border: none;
	outline: none;
	background-color:rgba(0, 0, 0, 0.65);
	color: rgba(255, 255, 255, 0.8);
	display: inline-block;
	width: 96%;
	margin:2%;
	padding: 60px;
	padding: 3vh;
	border-radius: 40px;
	border-radius: 2vh;
}
.showdropbtn{
	background-color:rgba(0, 0, 0, 0.9);
	color: #fff;
}
.subtitle{
	font-size: 35px;
	font-size: 1.9vh;
	margin-bottom: 20px;
	margin-top: 30px;
	padding-bottom: 20px;
	padding-top: 20px;
	margin-bottom: 1vh;
	margin-top: 1.5vh;
	padding-bottom: 1vh;
	padding-top: 1vh;
	background-color:rgba(0, 0, 0, 0.6);
	font-weight: bold;
	text-align: left;
}
.subeer{	/*BEER ALIGNMENT*/
	text-align: center;
}
.dropitems{	
 	display: none;	/*DON'T DISPLAY IF NOT CLICKED*/
	list-style-type: none;
	margin: 0;
	padding-left: 90px;
	padding-right: 90px;
	padding-left: 9vw;
	padding-right: 9vw;
}
.showit{	/*JS ONCLICK SHOW*/
	display: block;
}
.overflow{		/*LIST SCROLL*/
	height: 500px;
	height: 35vh;
	overflow-y: auto;
	-ms-overflow-style: none;  /* IE EDGE */
  	scrollbar-width: none;  /* FIREFOX */
}
.overflow:-webkit-scrollbar {
  display: none;	/*CHROME SAFARI OPERA*/
}
.centerlist{	/*LIST PADDING*/
	padding-top: 20px;
	padding-bottom: 40px;	
	padding-top: 1vh;
	padding-bottom: 2vh;
}
.drinkglass{	/*DRINK/GLASS TO STAY RIGHT*/
	float: right;
	font-size: 30px;
	font-size: 1.7vh;
}
.price{			/*PRICE TO STAY RIGHT*/
	float: right;
	font-size: 30px;
	font-size: 2.1vh;
}
.taglieri{
	width: 100%;
}
.container{		/*OVERALL SCROLL*//*DO NOT MOVE*//*VERY IMPORTANT*//*OVERALL SCROLL*/
	margin-top: 240px;
	margin-top: 12vh;
	height: 64%;
	height: 64vh; /*JUST IN CASE IT WAS 64 WORKING*/
	overflow-y: auto;
	-ms-overflow-style: none;  /* IE EDGE */
  	scrollbar-width: none;  /* FIREFOX */
}
.container:-webkit-scrollbar {
  display: none;	/*CHROME SAFARI OPERA*/
}
/*FOOTER*//*FOOTER*//*FOOTER*//*FOOTER*//*FOOTER*//*FOOTER*//*FOOTER*//*FOOTER*/
footer{
	position: fixed;
	bottom:0;
	width: 100%;
 	z-index: 1;
 	padding-top: 4px;
	padding-top: 0.2vh;
}
.fcontainer{	/*ACTUAL FOOTER HEIGHT height: 7vh + padding-top: 6vh */
	background-color:rgba(0, 0, 0, 0.4);
	height: 140px;
	height: 7vh;
	padding-top: 120px;
	padding-top: 6vh;
}
.footerlogo{	/*LOGO PARTIALLY OUT*/
	height: 140px;
	height: 7vh;
	margin-bottom: -100px;
	margin-bottom: -5vh;
}	
.ftext{
	margin: 0.2vh !important;
	font-size: 20px;
	font-size: 1vh;
	font-weight: lighter;
}
.ftitle{
	font-size: 25px;
	font-size: 1.2vh;
	font-weight: bolder;
}
.fspace{	/*SPACING BETWEEN SUPER LOVE AND SL LINES*/
	padding-bottom: 10px;
	padding-bottom: 0.5vh;
}
/*LANDSCAPE*//*LANDSCAPE*//*LANDSCAPE*//*LANDSCAPE*//*LANDSCAPE*//*LANDSCAPE*/
/*LANDSCAPE*//*LANDSCAPE*//*LANDSCAPE*//*LANDSCAPE*//*LANDSCAPE*//*LANDSCAPE*/
@media (orientation: landscape) {
	li{
		font-size: 40px;
		font-size: 4vh;
	}
	.dropbtn{
		width: 80%;
		margin:1%;
	}
	.price{			
		font-size: 30px;
		font-size: 3vh;
	}
	.subtitle{
		font-size: 40px;
		font-size: 2vh;
	}
}
